<h3>Add a new category:</h3>
<form action="/category" method="post">
  <label for="new-item">Item description:</label>
  <input id="new-item" name="new-category" type="text">
  <button type="submit">Submit</button>
</form>
